*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}

body {
    background-image:url("https://richtershotline.github.io/Pimages/Images/Desk.jpg");
    background-size:center;
background-position:center;
background-attachment: fixed;
background-color:burlywood;
}
.BGCon {

    width:35%;
box-shadow:2px 2px black;
outline:0.5px solid black;
margin:auto;
background-color:white;
position:absolute;
left:0;
right:0;
top:2rem;
opacity:1;

}

.BGCon2 {
width:99%;
background-color:white;
box-shadow:2px 2px black;
margin-top:0.2rem;
outline:0.4px solid black;

}
.pencil {

    width:80%;
display:flex;
justify-content: flex-end;
margin-top:2rem;
}
.pencil img {
height:12.75rem;

&:hover {


background-color:#E0A964;
transform:scale(1.2, 1.2);
}
}
#addBtn {
    background-color:#E0A964;
    border:none;
    background:none;
}

#UserInput {
    width:90%;
    margin:auto;
    border:none;
    border-bottom:2px dotted black;
text-align:center;
}
.Enter {
display:none;   

}

#Deleter {

    float:right;
    width:1rem;

}
#CheckMark {
    float:right;
    width:1rem;
}
#erase {
 display:none;
    float:right;
    border:none;

}
#Check {
    float:right;
    border:none;
background:none;
}
#sorter {
    border:none;
    background:none;

}
#SortImg {
    width:1rem;


}
.BGCon2  li {
margin:auto; 
font-size:14px;
text-align:left;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

li {

padding:2px;
border-bottom:2px solid black;

}
.BGCon2 h1 {
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:100;
    
}
.BGCon2 h4 {

text-align:center;

}